#aboutSchoolContainer {
    margin: 2.5vh 0 5vh 2.5vw;
    width: 95vw;
    height: 95vh;
}

#aboutSchoolTop {
    width: 100%;
    height: 58.5%;

    display: flex;
    /*background: var(--accent);*/
    margin-bottom: 1.5%;
}
#aboutSchoolBottom {
    width: 100%;
    height: 38.5%;

    display: flex;
    /*background: var(--secondary);*/
}

#schoolLocation {
    width: 73.5%;
    height: 100%;
    margin-right: 1.5%;
}
#loc {
    position: absolute;
    z-index: 1;
    padding: 0.5%;

    background: var(--accent);
    border: solid 0.4rem var(--secondary);
    border-radius: 5%;
}
#schoolLocation #loc i {
    font-size: 2rem;
    color: var(--header);
}
#schoolLocationMap {
    width: 100%;
    height: 100%;

    border-radius: 2%;
    background: var(--background);
    color: red;
}




#aboutSchoolLilContainer {
    width: 23.5%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    background: var(--accent);
    border-left: solid 0.4rem var(--secondary);
    border-bottom: solid 0.4rem var(--secondary);
    border-radius: 5%;
}
#aboutSchool {
    width: 100%;
    height: 50%;
}
#aboutSchool h3 {
    margin-top: 8%;
    text-decoration: underline;
    /*font-size: 1.5rem;*/
}
#aboutSchool p {
    margin: 0 5% 3% 5%;
    text-align: left;
    font-size: 0.9rem;
}
#aboutSchool p i {
    margin-right: 5%;
}
#schools {
    width: 100%;
    height: 25%;

    border-top: dashed 0.25rem var(--secondary);
    border-radius: 7%;
    background: var(--primary);

    display: flex;
    flex-wrap: wrap;
}
#schools .schoolsSchool {
    width: 46%;

    font-size: 2rem;
    color: white;

    border-radius: 5%;
    margin: 2%;
}
#schools .schoolsSchool:hover {
    text-decoration: underline;
    background: var(--secondary);
}
#schools .schoolsActive {
    text-decoration: underline;
    background: var(--secondary);
}





/*BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM*/
/*BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM*/
#studentTeacherPillar {
    height: 100%;
    width: 21.5%;
    margin-right: 1.5%;

    /*background: greenyellow;*/
}
#aboutSchoolOptionsGraph {
    background: var(--accent);
    border-left: solid 0.5rem var(--primary);
    border-bottom: solid 0.5rem var(--primary);
    border-radius: 5%;
}

#studentGrowth {
    height: 100%;
    width: 50%;

    /*background: red;*/
    margin-right: 1.5%;
}
#studentGrowthChart {
    background: var(--accent);
    border-left: solid 0.5rem var(--primary);
    border-bottom: solid 0.5rem var(--primary);
    border-radius: 5%;
}



#studentPieChart {
    height: 100%;
    width: 24.5%;

    /*background: blue;*/
}
#schoolPopulationChart {
    background: var(--accent);
    border-left: solid 0.5rem var(--primary);
    border-bottom: solid 0.5rem var(--primary);
    border-radius: 5%;
}