#budgetBg {
    width: 100vw;
    height: 100vh;

    background-image: url("https://images.unsplash.com/photo-1561414927-6d86591d0c4f?q=80&w=1973&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#budgetBg h1{
    background: rgba(0, 0, 0, 0.35);
    padding: 1vw;
    border-radius: 5%;


    margin-top: 0;
    margin-left: 3vw;

    text-align: center;
    text-transform: uppercase;
    color: var(--header);
    font-size: 14vw;
    font-family: 'Poppins', ui-sans-serif;
    text-shadow: -20px 20px 40px rgba(0, 0, 0, 0.8);
}