/*:root {*/
/*    --text: #101916;*/
/*    --background: #e2e4d8;*/
/*    --primary: #345043;*/
/*    --secondary: #648274;*/
/*    --accent: #aec1b5;*/
/*}*/
#infoContainter {
    display: none; /* Hide the container by default */
    position: fixed; /* Position it relative to the viewport */
    z-index: 2; /* Sit on top of everything */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scrolling if needed */
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
}

#infoDisplay {
    flex-direction: column;

    margin: auto;
    margin-top: 15vh;
    width: 60vw;
    height: 70vh;

    background: var(--background);
    border-radius: 2% 25%;
}
#infoDisplay h1 {
    font-size: 4rem;
}
#infoDisplay div {
    font-size: 3rem;
}