#itIndustryBg {
    width: 100vw;
    height: 100vh;

    /*background: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");*/
    /*background: url("https://images.unsplash.com/photo-1468495244123-6c6c332eeece?q=80&w=1921&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");*/
    background-image: url("../images/itIndBg.jpg");
    background-size: cover;
    background-position: center center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#itIndustryBg h1{
    text-align: center;
    text-transform: uppercase;
    color: var(--header);
    font-size: 14vw;
    font-family: 'Poppins', ui-sans-serif;
    text-shadow: -20px 20px 40px rgba(0, 0, 0, 0.8);
}
#itIndustryBg #itIndustryText h2 i{
    color: white;
    font-size: 2.5rem;
    text-shadow: -20px 20px 40px rgba(0, 0, 0, 0.8);

    margin-left: 1%;
}
#itIndustryBg #itIndustryText h2 {
    margin-right: 2%;
    display: flex;
    justify-content: flex-end;
}

#itIndustryObj {
    width: 100vw;
    height: 100vh;

    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    background: url("../images/itIndObj.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: all 0.5s ease-in;
}
#itIndustryObj:hover {
    top: -1%;
    left: -1%;
    width: 101.5vw;
    height: 98.5vh;

    /*background-position: center 52%;*/
    transition: all 0.5s ease-in;
}