#displayContainer {
    display: none; /* Hide the container by default */
    position: fixed; /* Position it relative to the viewport */
    z-index: 2; /* Sit on top of everything */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scrolling if needed */
    background-color: rgba(0,0,0,0.15); /* Black background with opacity */
}

#menu {
    background: var(--secondary);
    border: 2px solid var(--accent);
    border-radius: 0 0 15% 0;

    content: '';
    position: fixed;
    top: -0.5%;
    left: -0.5%;
    width: 7rem;
    aspect-ratio: 1 / 1;

    z-index: 2;
}
#menu:hover {
    top: -0.2%;
    left: -0.2%;
    transition: all 0.1s ease-in;
}
#menu i {
    color: var(--text);
    font-size: 2rem;
}




#menuDisplay {
    width: 20vw;
    height: 100vh;

    z-index: 3;

    background: var(--secondary);
    color: var(--text);

    border-right: 0.5rem solid var(--accent);

    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: -20.75%;
}
#menuDisplay #links {
    height: 90%;
    padding-left: 3%;
    padding-top: 5%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#menuDisplay #socials {
    height: 10%;
    padding-left: 0;

    display: flex;
    justify-content: space-evenly;
}
#menuDisplay ul li {
    margin-bottom: 1rem;
    list-style: none;
}
#menuDisplay ul li a {
    text-decoration: none;
    color: var(--text);

    font-size: 1.8vw;
    font-weight: bold;
    font-family: 'Poppins', ui-sans-serif;

    letter-spacing: 0.01rem;
}
#menuDisplay ul li a:hover {
    /*font-size: 1.9rem;*/
    color: var(--header);
    /*transition: font-size 0.3s ease-in;*/
    text-decoration: underline;
}




#links:first-child {
    width: 75%;
    margin-left: 10%;
    /*height: 0%;*/

    background: url("https://www.finki.ukim.mk/sites/all/themes/fcse/assets/imgs/logo-footer_en.png");
    background-repeat: no-repeat;
    background-size: contain;
}